ion-avatar{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
}

.camera{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size:30px;
}
