ion-content {
    --background:#fff url('/assets/icon/dogwhite.jpg') no-repeat center;
}

ion-icon {
    color: #ff0000;
    font-size: 170px;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 50px;
}

.email {
    border-radius: 30px !important;
    box-shadow: 10px !important;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 80px;
  }
  .password {
    border-radius: 30px !important;
    box-shadow: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  ion-button {
      --background: #3880ff;
      --background-activated: #3880ff;
      --background-focused: #3880ff;
      --background-hover: #3880ff;
      --border-color: #3880ff;
      --border-radius: 30px;
      
  }
  .button{
      margin-top: 30px;
      margin-left: 20px;
      margin-right: 20px;
      height: 50px;
  }

  .forgot{
      text-align: right;
      color: black;
      margin-right: 20px;
      margin-top: 20px;
  }
  .account{
      text-align: left;
      color: black;
      margin-left: 20px;
      margin-top: 20px;
  }